
.search-input{
  color: $off-red;
  width: 600px;
  padding: 5px 5px 5px 15px;
  outline: none;
  border:2px solid $off-red;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  background: url("https://image.freepik.com/free-icon/magnifier_318-50440.jpg") no-repeat 550px;
  background-size: 25px 25px;
}

::placeholder{
  color: $off-red;
  opacity: 0.6;
}